@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Libre franklin", sans-serif;
}

.illustration-dashboard {
  max-width: 650px;
  padding: 4.5rem 1rem 3rem 1rem;
}

.ping-logo {
  width: 150px;
  padding: 5rem 2rem 3rem 2rem;
}

h1 {
  font-weight: 300;
  padding-bottom: 1rem;
  color: var(--gray);
  font-size: 50px;
}

h1 > span {
  font-weight: 700;
  color: black;
}

header > p {
  padding-bottom: 2.5rem;
  font-size: 18px;
  font-weight: 400;
}

input {
  border-radius: 2rem;
  border: 1px solid var(--pale-blue);
  padding: 1rem;
  width: 470px;
}

.main-btn {
  border-radius: 2rem;
  border: 1px solid var(--pale-blue);
  padding: 1rem;
  color: white;
  background-color: var(--blue);
  width: 155px;
  margin-left: 10px;
  cursor: pointer;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.footer-nav img {
  width: 50px;
  padding: 0.5rem;
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
}

.footer-nav img:hover {
  background-color: var(--blue);
}

.copyright {
  padding-top: 1rem;
  font-size: 15px;
  color: var(--gray);
}

.email-error-msg {
  color: red;
  font-size: 12px;
  padding-bottom: 1.5rem;
  display: none;
  position: relative;
  right: 190px;
}

@media (max-width: 650px) {
  .illustration-dashboard {
    max-width: 310px;
    padding: 4.5rem 1rem 3rem 1rem;
  }

  .ping-logo {
    width: 120px;
    padding: 5rem 2rem 2rem 2rem;
  }

  h1 {
    font-weight: 300;
    padding-bottom: 1rem;
    font-size: 18px;
    color: var(--gray);
  }

  h1 > span {
    font-weight: 700;
    color: black;
  }

  header > p {
    padding-bottom: 1.5rem;
    font-size: 12px;
    font-weight: 400;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    border-radius: 1rem;
    border: 1px solid var(--pale-blue);
    padding: 0.5rem;
    width: 250px;
    margin-left: 0.7rem;
    margin-bottom: 0.5rem;
  }

  .main-btn {
    border-radius: 1rem;
    border: 1px solid var(--pale-blue);
    padding: 0.5rem;
    color: white;
    background-color: var(--blue);
    width: 250px;
  }

  .footer-nav {
    padding-top: 2rem;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-nav img {
    width: 30px;
    padding: 0.3rem;
    border: 1px solid var(--very-dark-blue);
    border-radius: 50%;
  }

  .footer-nav img:hover {
    background-color: var(--blue);
  }

  .copyright {
    font-size: 10px;
    color: var(--gray);
  }

  .email-error-msg {
    color: red;
    font-size: 12px;
    padding-bottom: 1.5rem;
    position: relative;
    left: 1px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
